In [2]:
import zipfile
import os
import pandas as pd

In [3]:
df_SIM = pd.read_csv('SIM_concatenada\SIM_concatenada.csv', sep = ',')

C:\Users\Elke\AppData\Local\Temp\ipykernel_9104\1745474740.py:1: DtypeWarning: Columns (81,155) have mixed types. Specify dtype option on import or set low_memory=False.
  df_SIM = pd.read_csv('SIM_concatenada\SIM_concatenada.csv', sep = ',')

In [4]:
df_SINASC = pd.read_csv('SINASC_FINAL.csv', sep = ',')

C:\Users\Elke\AppData\Local\Temp\ipykernel_9104\2038533069.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df_SINASC = pd.read_csv('SINASC_FINAL.csv', sep = ',')

In [7]:

def colunas_em_comum_sem_nan(df1, df2):
    # Obter conjuntos de colunas que não têm NaN em ambos os DataFrames
    colunas_sem_nan_df1 = set(coluna for coluna in df1.columns if not df1[coluna].isna().any())
    colunas_sem_nan_df2 = set(coluna for coluna in df2.columns if not df2[coluna].isna().any())

    # Encontrar as colunas em comum sem NaN
    colunas_em_comum_sem_nan = colunas_sem_nan_df1 & colunas_sem_nan_df2

    return colunas_em_comum_sem_nan

colunas_comum_sem_nan = colunas_em_comum_sem_nan(df_SIM, df_SINASC)
colunas_comum_sem_nan = list(colunas_comum_sem_nan)

print("Colunas em comum sem NaN:")
print(colunas_comum_sem_nan)

Colunas em comum sem NaN:
['res_codigo_adotado', 'CODMUNRES', 'res_CODIGO_UF', 'res_AMAZONIA', 'res_FRONTEIRA', 'PARTO', 'GESTACAO', 'res_MUNNOME', 'DIFDATA', 'ORIGEM', 'RACACOR', 'res_RSAUDCOD', 'def_gestacao', 'res_CAPITAL', 'res_MUNNOMEX', 'res_NOME_UF', 'def_escol_mae', 'res_CSAUDCOD', 'def_sexo', 'def_gravidez', 'def_parto', 'res_SIGLA_UF', 'res_MSAUDCOD', 'ESCMAE', 'GRAVIDEZ', 'def_raca_cor', 'CONTADOR', 'SEXO', 'def_est_civil', 'res_REGIAO']

In [16]:


df_SIM_chaves = df_SIM[colunas_comum_sem_nan]
df_SINASC_chaves = df_SINASC[colunas_comum_sem_nan]

In [17]:
df_SIM_chaves.head()

,res_codigo_adotado,CODMUNRES,res_CODIGO_UF,res_AMAZONIA,res_FRONTEIRA,PARTO,GESTACAO,res_MUNNOME,DIFDATA,ORIGEM,...,def_parto,res_SIGLA_UF,res_MSAUDCOD,ESCMAE,GRAVIDEZ,def_raca_cor,CONTADOR,SEXO,def_est_civil,res_REGIAO
0,120000,120000,12,N,N,9,9,Município ignorado - AC,428,1,...,Ignorado,AC,1200,9,9,Branca,18,1,Casado,Norte
1,120032,120032,12,S,S,1,9,Jordão,362,1,...,Vaginal,AC,1290,3,1,Indígena,2120,2,Ignorado,Norte
2,120030,120030,12,S,S,9,9,Feijó,8,1,...,Ignorado,AC,1290,9,9,Indígena,2121,1,Ignorado,Norte
3,120030,120030,12,S,S,9,9,Feijó,252,1,...,Ignorado,AC,1290,9,9,Indígena,2122,2,Ignorado,Norte
4,120005,120005,12,S,S,9,9,Assis Brasil,7,1,...,Ignorado,AC,1290,9,9,Parda,2691,1,Ignorado,Norte

In [18]:
df_SINASC_chaves.head()

,res_codigo_adotado,CODMUNRES,res_CODIGO_UF,res_AMAZONIA,res_FRONTEIRA,PARTO,GESTACAO,res_MUNNOME,DIFDATA,ORIGEM,...,def_parto,res_SIGLA_UF,res_MSAUDCOD,ESCMAE,GRAVIDEZ,def_raca_cor,CONTADOR,SEXO,def_est_civil,res_REGIAO
0,120050,120050,12,S,S,2,5,Sena Madureira,38,1,...,Cesáreo,AC,1290,4,1,Parda,1623,2,Casado,Norte
1,120040,120040,12,S,S,1,5,Rio Branco,53,1,...,Vaginal,AC,1290,5,1,Preta,3807,1,Casado,Norte
2,120001,120001,12,S,S,2,5,Acrelândia,61,1,...,Cesáreo,AC,1290,4,1,Parda,7192,1,Casado,Norte
3,120001,120001,12,S,S,2,5,Acrelândia,60,1,...,Cesáreo,AC,1290,2,1,Parda,7194,1,Casado,Norte
4,120001,120001,12,S,S,1,5,Acrelândia,39,1,...,Vaginal,AC,1290,3,1,Branca,7328,2,Casado,Norte

In [11]:

df_SIM_SINASC_merged = pd.merge(df_SIM, df_SINASC, how = "inner", indicator = True)
df_SIM_SINASC_merged.to_csv('df_SIM_SINASC.csv', index=False)

In [12]:
df_SIM_SINASC_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Columns: 220 entries, ORIGEM to _merge
dtypes: category(1), float64(84), int64(54), object(81)
memory usage: 264.0+ bytes